/* src/index.css or src/pages/Home.css */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-family: 'Permanent Marker', sans-serif;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Bytesized', sans-serif;
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* Space between icons */
    margin-top: 2rem;
    /* Space between icons and footer */
}

.social-icons a {
    color: #333;
    /* Default icon color */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #1db954;
    /* Spotify green for hover effect */
}

.icon {
    font-size: 2rem;
    /* Icon size */
}