:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.post-card {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-card h2 {
  margin-top: 0;
}

.post-card a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

